

#he{
    background-color: #A4CEDF;
    display: grid;
    grid-template-columns: 500px 1fr 200px;
    align-items: center;
}
#logo{
    padding-left: 100px;
}

h2{
	font-family: "Merriweather", serif;
}
p, span{
	font-family: "Geologica", sans-serif;
}


button, input {
	font: 1em Hind, sans-serif;
	line-height: 1.5em;
}
input {
	color: #171717;
}
#search-bar {
	display: flex;
}

#search-bar input,
#search, 
#search:before, 
#search:after {
	transition: all 0.25s ease-out;
}
#search-bar input,
#search {
	width: 3em;
	height: 3em;
}
#search-bar input:invalid:not(:focus),
#search {
	cursor: pointer;
}
#search-bar,
#search-bar input:focus,
#search-bar input:valid  {
	width: 100%;
}
#search-bar input:focus,
#search-bar input:not(:focus) + #search:focus {
	outline: transparent;
}
#search-bar {
	padding: 1.5em;
	justify-content: center;
	max-width: 30em;
}
#search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
#search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
#search-bar input:focus,
#search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
#search {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
#search:before, 
#search:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
#search:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
#search:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
#search span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}


#search-bar input:focus + #search,
#search-bar input:valid + #search {
	background: #0E1C36;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
#search-bar input:focus + #search:before, 
#search-bar input:focus + #search:after,
#search-bar input:valid + #search:before, 
#search-bar input:valid + #search:after {
	opacity: 1;
}
#search-bar input:focus + #search:hover,
#search-bar input:valid + #search:hover,
#search-bar input:valid:not(:focus) + #search:focus {
	background: #0E1C36;
}
#search-bar input:focus + #search:active,
#search-bar input:valid + #search:active {
	transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
	input {
		color: #000000;
	}
	#search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	#search-bar input:focus,
	#search-bar input:valid {
		background: #FFFFFF;
		box-shadow: 0 0 0 0.1em #FFFFFF inset;
	}
	#search {
		background: #f1f1f1;
	}
}
/*/////////////////////////////////*/


#temperature {
  min-width: 50px;
  position: relative;
  margin-left: 1px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #FFFFFF;
  border: 1px solid #140500;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

#temperature::before,
#temperature::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 4rem;
  pointer-events: none;
}

#temperature::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

#temperature::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}
/*//////////////////////////////////////////*/
main{
	display: grid;
	grid-template-columns: 20px 1fr 1fr 20px;
	column-gap: 15px;
}
#temp-box{
	border-color: #140500;
	border-style: solid;
	border-width: 5px;
	text-align: left;
	font-size: 25px;
	grid-column: 2;
	margin-top: 15px;
	border-radius: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
#days{
	grid-column: 2;
	grid-row: 2;
	margin-top: 15px;
	border-radius: 20px;
	border-color: #140500;
	border-style: solid;
	border-width: 5px;
	text-align: left;
	padding-left: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-bottom: 20px;
}
#second-city{
	grid-column: 1/3;
	text-align: center;
}
#map{
	grid-column: 3/5;
	grid-row: 1/3;
	padding-left: 10px;
	font-size: 50px;
	text-align: center;
	background-color: #0E1C36;
	color: #FFFFFF;
	margin-top: 20px;
}

#second-temp,
#winds,
#humiditys,
#uv-indexs,
#visibilitys {
    background-color: #A4CEDF;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}

#max-temp,
#mim-temp,
#point-dew,
#pressures,
#moon-phases{
	background-color: #e9f4f8;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}
#weather-icon{
	grid-column: 2;
	grid-row: 2/4;
	width: 50%;
	margin: auto;
}
#city-title{
	grid-column: 1/3;
	background-color:#0E1C36;
	color: #FFFFFF;
	width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}
#night{
	grid-column: 2;
	grid-row: 4;
}
#day{
	grid-column: 1;
	grid-row: 4;
}

#temps,
#conditions,
#day{
	padding-left: 10px;
}
#temps{
	font-size: 55px;
}

#hourly-weather{
	grid-column: 2;
	display: grid;
	grid-template-rows: 100px 1fr 1fr 1fr;
	border-radius: 20px;
	border-color: #140500;
	border-style: solid;
	border-width: 5px;
	margin-top: 40px;

}
#daily-weather{
	grid-column: 3;
	display: grid;
	grid-template-rows: 100px 1fr 1fr 1fr;
	border-radius: 20px;
	border-color: #140500;
	border-style: solid;
	border-width: 5px;
	margin-top: 40px;

}
#hourly-weather h2,
#daily-weather h2{
	grid-row: 1;
	grid-column: 1/5;
	text-align: left;
	background-color: #0E1C36;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
	font-size: 35px;
	padding-top: 20px;
}

#daily-weather .weather-item,
#hourly-weather .weather-item{
	grid-column: 1/5;
	font-size: 30px;
	text-align: center;

	
		
}

#icon-rain{
	width: 30px;
	padding-left: 54px;
	padding-top: 35px;
	padding-right: 1px;
}
#hour{
	grid-column: 1;
}

#temp-hour{
	grid-column: 2;
	color: #034dd6;
}

#weather-icon-hour{
	grid-column: 3;
}

#rain{
	grid-column: 4;
}
.weather-item{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
#weather-icon-hour{
	width: 50%;
	padding-left: 45px;
	padding-top: 15px;
}
#rain{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.weather-item{
	border: solid #6c5151;
    border-width: 0 0 1px;
}


footer{
	background-color: #A4CEDF;
	text-align: center;
	padding-top: 100px;
	margin-top: 20px;
}

@media (max-width: 768px) {
    #he {
        grid-template-columns: 1fr;
        text-align: center;
    }
    #logo {
        padding-left: 0;
    }
    #search-bar {
        padding: 0.5em;
        max-width: 100%;
    }
    #temperature {
        margin-left: 0;
    }
	#temperature::before,
	#temperature::after {
        margin-left: 0;
		right: 9rem;
    }
    main {
        grid-template-columns: 1fr;
        column-gap: 0;
    }
    #temp-box {
        grid-column: 1;
        font-size: 20px;
    }
    #days {
        grid-column: 1;
        grid-template-columns: 1fr;
        padding-left: 10px;
    }
    #map {
        grid-column: 1;
        grid-row: auto;
        padding-left: 0;
        font-size: 20px;
        margin-top: 20px;
    }
    #hourly-weather,
    #daily-weather {
        grid-column: 1;
        grid-template-rows: auto;
        margin-top: 20px;
    }
    #hourly-weather h2,
    #daily-weather h2 {
        font-size: 25px;
    }
    .weather-item {
        font-size: 20px;
    }
    #icon-rain{
		width: 60%;
        padding-left: 30%;
        padding-top: 50%;

	}
    #weather-icon-hour {
        width: 70%;
        padding-left: 0;
        padding-top: 2%;
    }
    footer {
        padding-top: 50px;
    }
	#hour,
	#weather-icon-hour,
	#temp-hour,
	#rain{
		font-size: 4vw;
	}
	iframe{
		height: 500px;
	}
	

}